/* Space out content a bit */
body {
  margin:0;
  padding-top: 70px;
  position: relative;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/**** Style tareas ******/
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


.input-group.ng-scope{margin-bottom: 16px;}
.separation{padding:8px 0;}
.hecho-true{text-decoration: line-through;color:#A4EA9F;}
.form-signin {margin: 0 auto; max-width: 330px; padding: 15px; }
.cap{text-transform: capitalize;}
.container.intro{max-width: 730px;margin-top: 20px;}
.container.intro .jumbotron h1,.container.intro .jumbotron .h1{font-size: 51px;}
.bg-cover{
  background-image: -webkit-linear-gradient(#428BCA 0px, #2D6CA2 100%);
  background-image: -moz-linear-gradient(#428BCA 0px, #2D6CA2 100%);
  background-image: -o-linear-gradient(#428BCA 0px, #2D6CA2 100%);
  background-image: linear-gradient(#428BCA 0px, #2D6CA2 100%);
  background-repeat: repeat-x;
  border-color: #2B669A;
  color:#FFF;
  padding:4px;
  border-radius: 4px;
}
.container.wiki .col-sm-6.col-md-4{overflow: hidden;}
#creatProject textarea.form-control{height:184px;}
.wiki-header .add {font-size: 26px;}
.wiki-header .add .fa {line-height: 0;}
.wiki-header .form-group{position: relative;}
.wiki-header .form-group i{position: absolute;right: 12px;top: 10px;}
.caret{cursor: pointer;}
.support .col-md-6{margin:0 auto;}
.support .btn.btn-primary.right{float: right;}
.list-tools{border-top: 1px solid #CCC; padding-top: 12px;}
.list-tools ul{float:right;list-style: none;}
.list-tools li{float:left;width:24px;}
.list-tools li a{color:#333;}
.wiki .thumbnail .caption h3{border-bottom: 1px solid #CCC;padding-bottom: 12px;}

.col-md-4.view {left: 50%; margin-left: -366px; position: absolute; top: 140%; width: 50%; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes view {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes view {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.view {
  -webkit-animation-name: view;
  animation-name: view;
}