<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="">Departamento <span class="bg-cover">Front</span></a>
	  </div>
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#equipo">Equipo</a></li>
	      <li><a href="#tareas">Tareas</a></li>
	      <li><a href="#wiki">Wiki</a></li>
	      <li><a href="#soporte">Soporte</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="dropdown user">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="fa fa-user"></i>
						<span class="username">oarthur</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href=""><i class="fa fa-user"></i> Mi perfil</a></li>
						<li><a href=""><i class="fa fa-key"></i> Salir</a></li>
					</ul>
				</li>
	    </ul>
	  </div><!--/.nav-collapse -->
  </div>
</div><!-- /Fixed navbar -->
<div class="container">
	<h4>Lista del equipo de Front-end</h4>
	<div class="panel panel-defaul" ng-controller="EquipoCtrl">
		<div class="panel-heading">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
				<input type="text" class="form-control" ng-model="search.apellidos" placeholder="Buscar miembro del equipo">
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
							<tr>
								<th><a href="" ng-click="orderProp('nombre')">Nombre</a><span ng-click="orderProp('-nombre')" class="caret"></span></th>
								<th>Apellidos</th>
								<th>Email</th>
								<th>Categoria</th>
								<th>Departamento</th>
								<th>Responsable</th>
							</tr>
					</thead>
					<tbody>
						<tr ng-repeat="equipo in equipos | filter:search | orderBy:ordenSelect">
							<td class="cap">{{equipo.nombre}}</td>
							<td>{{equipo.apellidos | uppercase}}</td>
							<td>{{equipo.email}}</td>
							<td>{{equipo.categoria | number:1}}</td>
							<td class="cap">{{equipo.departamento}}</td>
							<td class="cap">{{equipo.responsable}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>