<div class="container">
	<form class="form-signin" role="form" name="forma">
	  <h2 class="form-signin-heading">Login</h2>
	  <div class="form-group">
		  <div class="input-group input-group-lg separation">
		  	<span class="input-group-addon"><i class="fa fa-user"></i></span>
		  	<input type="text" class="form-control" name="user" placeholder="Usuario" ng-model="user.nombre" required autofocus>
			</div>
			<div class="input-group input-group-lg">
				<span class="input-group-addon"><i class="fa fa-key"></i></span>
		  	<input type="password" class="form-control" name="userPassword" ng-model="user.password" placeholder="Password" required>
		  </div>
		  <div ng-show="">
		  	<p class="help-block text-danger" ng-show="forma.user.$error.required">Usuario invalido</p>
		  	<p class="help-block text-danger" ng-show="forma.userPassword.$error.required">contraseña invalida</p>
		  </div>
		</div>
	  <label class="checkbox">
	    <input type="checkbox" ng.model="user.recordar" name="acepto" value="remember-me"> Recordar
	  </label>
	  <button class="btn btn-lg btn-primary btn-block" ng-disabled="forma.$invalid" type="submit">Entrar</button>
	</form>
</div>