<div class="container intro">
	<div class="jumbotron">
    <h1>Departamento Front <span class="bg-cover">End</span></h1>
    <p class="lead">
    	Herramienta para la gestión de los proyectos, tareas, equipo de trabajo y todas las informaciónes relacionada con el  departamento
    	front end.
    </p>
    <p><a role="button" href="#login" class="btn btn-primary btn-lg">Entrar</a></p>
	</div>
	<div class="row marketing">
		<div class="col-lg-6">
			<h4>Lista de equipo</h4>
			<p>Herramienta para la gestión del personal de Front End</p>
			<h4>Lista de tareas</h4>
			<p>Herramienta para la gestión las tareas del personal de Front End</p>
		</div>
		<div class="col-lg-6">
			<h4>Wiki</h4>
			<p>Herramienta para la gestión de los proyectos de Front End</p>
			<h4>Soporte</h4>
			<p>Herramienta para soperte de la aplicación</p>
		</div>
	</div>
	<div class="footer">
		<p>Departamento Front End copy right 2014</p>
	</div>
</div>