<div class="navbar navbar-default navbar-fixed-top wiki-header" role="navigation">
  <div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="">Departamento <span class="bg-cover">Front</span></a>
	  </div>
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li><a href="#equipo">Equipo</a></li>
	      <li><a href="#tareas">Tareas</a></li>
	      <li><a href="#wiki">Wiki</a></li>
	      <li class="active"><a href="#soporte">Soporte</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="dropdown user">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="fa fa-user"></i>
						<span class="username">oarthur</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href=""><i class="fa fa-user"></i> Mi perfil</a></li>
						<li><a href=""><i class="fa fa-key"></i> Salir</a></li>
					</ul>
				</li>
	    </ul>
	  </div><!--/.nav-collapse -->
  </div>
</div><!-- /Fixed navbar -->
<div class="container support">
	<div class="panel panel-default">
		<div class="panel-heading"><h4>Soporte</h4></div>
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-12" ng-controller="SoporteCtrl">
					<form role="form" name="forma" ng-submit="sendForm()">
					  <div class="form-body">
						  <div class="form-group">
								<label for="usuario">Usuario:</label>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-user"></i>
									</span>
									<input type="text" name="usuario" id="usuario" placeholder="Entroduzca su usuario" class="form-control" ng-model="usuario" tabindex="1" required>
								</div>
							</div>
						  <div class="form-group">
								<label for="email">Email:</label>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa">@</i>
									</span>
									<input type="email" name="email" id="email" placeholder="Entroduzca su email" class="form-control" ng-model="email" tabindex="2" required>
								</div>
							</div>
						   <div class="form-group">
								<label for="asunto">Asunto:</label>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-gear"></i>
									</span>
									<select name="asunto" id="asunto" class="form-control" ng-model="asunto" tabindex="3" required>
										<option value="lorem">lorem</option>
										<option value="lorem">lorem</option>
										<option value="lorem">lorem</option>
										<option value="lorem">lorem</option>
										<option value="lorem">lorem</option>
									</select>
								</div>
							</div>
						  <div class="form-group">
						  	<label for="comentario">Comentario</label>
						  	<div class="input-group">
						  		<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
						    	<textarea class="form-control" name="comentario" id="comentario" rows="3"  ng-model="comentario" tabindex="4" required></textarea>
						  	</div>
						  </div>
						</div>
					  <button type="submit" class="btn btn-primary right" ng-disabled="forma.$invalid">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>