<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="">Departamento <span class="bg-cover">Front</span></a>
	  </div>
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li class=""><a href="#equipo">Equipo</a></li>
	      <li class="active"><a href="#tareas">Tareas</a></li>
	      <li><a href="#wiki">Wiki</a></li>
	      <li><a href="#soporte">Soporte</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="dropdown user">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="fa fa-user"></i>
						<span class="username">oarthur</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href=""><i class="fa fa-user"></i> Mi perfil</a></li>
						<li><a href=""><i class="fa fa-key"></i> Salir</a></li>
					</ul>
				</li>
	    </ul>
	  </div><!--/.nav-collapse -->
	</div>
</div><!-- /Fixed navbar -->
<div class="container">
	<div class="panel panel-default" ng-controller="ListatareasCtrl">
		<div class="panel-heading"><h4>Lista de Tareas</h4></div>
		<div class="panel-body">
			<form ng-submit="addTarea()">
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Agregar una nueva tarea" required ng-model="textNewTarea">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit">Agregar</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			<div class="row">
				<div class="col-md-12" ng-show="tareas.$getIndex().length !=0">
					<p class="separation">
						<span>{{tareasHechas()}} de {{other()}}</span>
						<a class="label label-danger" href="" ng-click="removeTarea()">Eliminar</a>
					</p>
				</div>
			</div>
			<!-- Lista de tareas -->
			<div class="row">
			  <div class="col-md-12">
					<div class="input-group" ng-repeat="tarea in tareas | orderByPriority">
						<span class="input-group-addon">
							<input type="checkbox" ng-model="tarea.hecho" ng-click="tareas.$update(tarea.$id)">
						</span>
						<input type="text" value="{{tarea.texto}}" class="form-control hecho-{{tarea.hecho}}" readonly>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
