<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top wiki-header" role="navigation">
  <div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="">Departamento <span class="bg-cover">Front</span></a>
	  </div>
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li><a href="#equipo">Equipo</a></li>
	      <li><a href="#tareas">Tareas</a></li>
	      <li class="active"><a href="#wiki">Wiki</a></li>
	      <li><a href="#soporte">Soporte</a></li>
	    </ul>
	    <div class="input-grupo navbar-form navbar-left">
        <div class="form-group">
      		<i class="fa fa-search"></i>
         <input class="form-control ng-pristine ng-valid" type="text" placeholder="Buscar proyecto" ng-model="searchText">
        </div>
      </div>
	    <ul class="nav navbar-nav navbar-right">
	    	<li>
	    		<a href="" title="Nuevo proyecto" data-target="#creatProject" data-toggle="modal" class="add">
						<i class="fa fa-plus-square-o"></i>
					</a>
	    	</li>
	    	<li class="dropdown user">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="fa fa-user"></i>
						<span class="username">oarthur</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href=""><i class="fa fa-user"></i> Mi perfil</a></li>
						<li><a href=""><i class="fa fa-key"></i> Salir</a></li>
					</ul>
				</li>
	    </ul>
	  </div><!--/.nav-collapse -->
  </div>
</div><!-- /Fixed navbar -->
<div class="container wiki" ng-controller="WikiCtrl">
	<div class="row">
		<div class="col-sm-6 col-md-4 animated {{class}}"  ng-repeat="(key, wiki) in wikis |  orderByPriority | filter:searchText">
			<div class="thumbnail">
				<!-- <img alt="300x200" style="width: 300px; height: 200px;" ng-src="{{wiki.img}}"> -->
				<div class="caption">
					<h3 id="{{key}}">{{wiki.title}}</h3>
					<p>{{wiki.desc}}</p>
				</div>
				<div class="list-tools clearfix">
  					<ul>
  						<li>
								<a href="" title="Eliminar Proyecto" ng-click="wikis.$remove(wiki.$id)">
  								<i class="fa fa-trash-o"></i>
  							</a>
  						</li>
  						<li>
								<a href="" title="Ver Proyecto" ng-click="viewDetails(wiki.$this)"  class="viewWiki">
  								<i class="fa fa-expand"></i>
  							</a>
  						</li>
  					</ul>
  				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div ng-controller="WikiCtrl" class="modal fade" id="creatProject" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="modal-form" action="#">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4>Alta nuevo proyecto</h4>
				</div>
				<div class="modal-body">
						<div class="form-body">
							<form class="form-horizontal" role="form" name="forma" ng-submit="sendForm()">
									<fieldset>
									<!-- Text input-->
									<div class="control-group separation">
									  <label class="control-label" for="customer">Nombre cliente</label>
									  <div class="controls">
									    <input id="customer" name="customer" type="text" placeholder="Nombre del cliente" class="form-control" required ng-model="textNewCustomer">
									  </div>
									</div>
									<!-- Text input-->
									<div class="control-group separation">
									  <label class="control-label" for="title-proyecto">Titulo proyecto</label>
									  <div class="controls">
									    <input id="title-proyecto" name="title-proyecto" type="text" placeholder="Titulo del nuevo proyecto" class="form-control" required ng-model="textNewTitle">
									  </div>
									</div>
									<!-- Textarea -->
									<div class="control-group separation">
									  <label class="control-label" for="desc">Descripción </label>
									  <div class="controls">                     
									    <textarea id="desc" placeholder="Descripción del nuevo proyecto" row="8" cols="50" class="form-control" required name="desc" required ng-model="textNewDesc"></textarea>
									  </div>
									</div>
									</fieldset>
								</form>
						</div>
				</div>
				<div class="modal-footer">
					<div class="form-actions right">
							<button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
							<button class="btn btn-info" data-dismiss="modal" type="submit" ng-click="addNewWiki()" ng-disabled="forma.$invalid"><i class="fa fa-check"></i> Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- View Wiki info -->
<!-- <div class="modal fade" id="viewProject" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true" ng-repeat="wiki in wikis">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{{wiki.customer}}</h4>
      </div>
      <div class="modal-body">
        <h5>Proyecto {{wiki.title}}</h5>
        <p>{{wiki.desc}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
